{% extends 'mainapp/IndexBaseTemplate.html' %}
{% load static %}

{% block bodyContent %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shop Category page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'main:index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">{{ category.name }}</a>
                        <a href="#"><span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">{{ subcategory.name }}</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <ul class="main-categories">
                        {% for object in category_list %}
                            <li class="main-nav-list">
                                <a class="collapsed" {% if forloop.last %} class="border-bottom-0" {% endif %}
                                   data-toggle="collapse" href="#category_{{ object.pk }}" aria-expanded="false"
                                   aria-controls="category_{{ object.pk }}">
                                    <span class="lnr lnr-arrow-right">
                                    </span>
                                    {{ object.name }}
                                    <span class="number">
                                        ( {{ object.count_prods }} )
                                    </span>
                                </a>
                                <ul class="collapse" id="category_{{ object.pk }}" data-toggle="collapse"
                                    aria-expanded="false"
                                    aria-controls="category_{{ object.pk }}">

                                    {% for sub in object.subs.all %}
                                        <li class="main-nav-list child">
                                            <a href="{% url 'main:category_products' object.pk sub.pk %}">
                                                {{ sub.name }}
                                                <span class="number">
                                                    ( {{ sub.count_prods }} )
                                                </span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sidebar-filter mt-50">
                    <div class="top-filter-head">Product Filters</div>
                    <div class="common-filter">
                        <div class="head">Brands</div>
                        <form action="#">
                            <ul>
                                {% for brand in brands_list %}
                                    <li class="filter-list"><input class="pixel-radio" type="radio"
                                                                   id="{{ brand.name }}"
                                                                   name="brand"><label
                                            for="{{ brand.name }}">{{ brand.name }}<span>({{ brand.brand_products_count }})</span></label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </form>
                    </div>
                    <div class="common-filter">
                        <div class="head">Color</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label
                                        for="black">Black<span>(29)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather"
                                                               name="color"><label for="balckleather">Black
                                    Leather<span>(29)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred"
                                                               name="color"><label for="blackred">Black
                                    with red<span>(19)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="gold"
                                                               name="color"><label
                                        for="gold">Gold<span>(19)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey"
                                                               name="color"><label
                                        for="spacegrey">Spacegrey<span>(19)</span></label></li>
                            </ul>
                        </form>
                    </div>
                    <div class="common-filter">
                        <div class="head">Price</div>
                        <div class="price-range-area">
                            <div id="price-range"></div>
                            <div class="value-wrapper d-flex">
                                <div class="price">Price:</div>
                                <span>$</span>
                                <div id="lower-value"></div>
                                <div class="to">to</div>
                                <span>$</span>
                                <div id="upper-value"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                        <label>
                            <select>
                                <option value="1">Default sorting</option>
                                <option value="1">Default sorting</option>
                                <option value="1">Default sorting</option>
                            </select>
                        </label>
                    </div>
                    <div class="sorting mr-auto">
                        <select>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                        </select>
                    </div>
                    <div class="pagination">
                        {% if products.has_previous %}
                            <a href="{% url 'main:category_products_pagination' category.pk subcategory.pk products.previous_page_number %}"
                               class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                        {% endif %}
                        {% for number in range %}
                            <a href="{% url 'main:category_products_pagination' category.pk subcategory.pk number %}"
                                    {% if products.number == number %} class="active"{% endif %}>{{ number }}</a>
                        {% endfor %}
                        {% if products.paginator.num_pages > 4 %}
                            <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if products.paginator.num_pages > 3 %}
                        <a href="{% url 'main:category_products_pagination' category.pk subcategory.pk products.paginator.num_pages %}"
                                {% if products.number == products.paginator.num_pages %}
                           class="active"{% endif %}>{{ products.paginator.num_pages }}</a>
                        {% endif %}
                        {% if products.has_next %}
                            <a href="{% url 'main:category_products_pagination' category.pk subcategory.pk products.next_page_number %}"
                               class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        {% for product in products %}
                            <!-- single product -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <a href="{#% url 'mainapp:product_detail' product.pk %#}">
                                        {% if product.image %}
                                            <img class="img-fluid" src="{{ product.image.url }}" alt="#">
                                        {% endif %}
                                    </a>
                                    <div class="product-details">
                                        <h6>{{ product.name }}</h6>
                                        <div class="price">
                                            {% if product.sale_price != 0 %}
                                                <h6>{{ product.sale_price }}</h6>
                                                <h6 class="l-through">{{ product.price }}</h6>
                                            {% else %}
                                                <h6 class="l-through">{{ product.price }}</h6>
                                            {% endif %}
                                        </div>
                                        <div class="prd-bottom">
                                            <a href="" class="social-info">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">Wishlist</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-sync"></span>
                                                <p class="hover-text">compare</p>
                                            </a>
                                            <a href="{#% url 'mainapp:product_detail' product.pk %#}"
                                               class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <!-- End Best Seller -->
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting mr-auto">
                        <select>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                        </select>
                    </div>
                    <div class="pagination">
                        {% if products.has_previous %}
                            <a href="{% url 'main:category_products_pagination' category.pk subcategory.pk products.previous_page_number %}"
                               class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                        {% endif %}
                        {% for number in range %}
                            <a href="{% url 'main:category_products_pagination' category.pk subcategory.pk number %}"
                                    {% if products.number == number %} class="active"{% endif %}>{{ number }}</a>
                        {% endfor %}
                        {% if products.paginator.num_pages > 4 %}
                            <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if products.paginator.num_pages > 3 %}
                        <a href="{% url 'main:category_products_pagination' category.pk subcategory.pk products.paginator.num_pages %}"
                                {% if products.number == products.paginator.num_pages %}
                           class="active"{% endif %}>{{ products.paginator.num_pages }}</a>
                        {% endif %}
                        {% if products.has_next %}
                            <a href="{% url 'main:category_products_pagination' category.pk subcategory.pk products.next_page_number %}"
                               class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
                <!-- End Filter Bar -->
            </div>
        </div>
    </div>

    {% include 'mainapp/includes/inc__related_products.html' %}

    <!-- Modal Quick Product View -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="container relative">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="product-quick-view">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="quick-view-carousel">
                                {#                                <div class="item" style="background: url(/static/img/organic-food/q1.jpg);">#}
                                {##}
                                {#                                </div>#}
                                {#                                <div class="item" style="background: url(/static/img/organic-food/q1.jpg);">#}
                                {##}
                                {#                                </div>#}
                                {#                                <div class="item" style="background: url(/static/img/organic-food/q1.jpg);">#}
                                {##}
                                {#                                </div>#}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="quick-view-content">
                                <div class="top">
                                    <h3 class="head">Mill Oil 1000W Heater, White</h3>
                                    <div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span
                                            class="ml-10">$149.99</span></div>
                                    <div class="category">Category: <span>Household</span></div>
                                    <div class="available">Availibility: <span>In Stock</span></div>
                                </div>
                                <div class="middle">
                                    <p class="content">Mill Oil is an innovative oil filled radiator with the most
                                        modern technology. If you are
                                        looking for category_{{ object.pk }} that can make your interior look awesome,
                                        and at the same
                                        time give you the pleasant
                                        warm feeling during the winter.</p>
                                    <a href="#" class="view-full">View full Details <span
                                            class="lnr lnr-arrow-right"></span></a>
                                </div>
                                <div class="bottom">
                                    <div class="color-picker d-flex align-items-center">Color:
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                    </div>
                                    <div class="quantity-container d-flex align-items-center mt-15">
                                        Quantity:
                                        <input type="text" class="quantity-amount ml-15" value="1"/>
                                        <div class="arrow-btn d-inline-flex flex-column">
                                            <button class="increase arrow" type="button" title="Increase Quantity"><span
                                                    class="lnr lnr-chevron-up"></span></button>
                                            <button class="decrease arrow" type="button" title="Decrease Quantity"><span
                                                    class="lnr lnr-chevron-down"></span></button>
                                        </div>

                                    </div>
                                    <div class="d-flex mt-20">
                                        <a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
                                        <a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
                                        <a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
