<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/static/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>{% block title %}{{ page_title|title }}{% endblock %}</title>
    {% block css %}

    {% endblock %}

</head>

<body>
{% include 'mainapp/includes/inc__main_menu.html' %}

{% block bodyContent %}
{% endblock %}

{% include 'mainapp/includes/inc__site_footer.html' %}

{% block js %}
{% endblock %}

</body>

</html>